.card {
  height: 170px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  background-color: azure;
}
.body{
  background-color: beige;
}
.cborder{
  border-right: 1px solid black;
  height: 150px;
}
.foot{
  width:100%;
  text-align: center;
  bottom:0px;
  position: fixed;
  color: white;
  height: 40px;
  background-color:rgb(2, 2, 2); 
}

.btn{
  float: right;
  color: black;
  margin-top: 30px;
  margin-left:300px;
}

.btnShift {
  margin-left: -250px;
}
.App {
  text-align: center;
  background-color: beige;
  height:200%;
  width:100%;
}
.login{
  width: 40%;
  height: 30%;
  margin-left: 400px;
  margin-top:20px;
}
.signup{
  width: 40%;
  height: 30%;
  margin-left: 300px;
  margin-top:20px;
}
.btnstyle{
  margin-left: -800px;
}
.row{
  margin-top:10px;
}
.space {
  margin-left: 50px;
}
.sign{
  font-size: 20px;
}

.error{
  color: red;
}
.emailerror{
  color: red;
  margin-left: 150px;
}
.editjobbtn{
  float: right;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: rgb(65, 64, 64);
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.profile{
  heigth: 50%;
}

.count{
  color: red;
}